body {
	background-color: #eee;
}
.main-table .one {
	background: lightblue;
	margin-top: 20px;
}
.two {
	background: white;
}
.list {
	border: 1px grey solid;
}
table {
	border: 1px solid #eee;
}
form {
	margin: 20px 5px;
}